$baseColor: #f00c4b;
$blackBg: #000;
$secondaryColor: #ce114b;
$primaryColor: #ec154e;
$lightBlue: #00d6fe;
$goldenYellow: #fbc918;
$yellowClr: #ffb714;
$borderClr: #ffb714;
$white: #fff;
$lightGray: #9c9c9c;
$green: #00b731;
