$black: #000;
$white: #fff;
$blackBg: #000;
$lime: #32CD32;
$green: #00b731;
$lightBlue: #00d6fe;
$baseColor: #f00c4b;
$yellowClr: #ffb714;
$borderClr: #ffb714;
$lightGray: #9c9c9c;
$lightGrey: #c2c2c2;
$primaryColor: #ec154e;
$goldenYellow: #fbc918;
$secondaryColor: #ce114b;
$blueColor: rgb(33, 114, 229);