@import "../../../Assets/Scss/_var.scss";
.modal-backdrop {
  &.show {
    opacity: 0.8 !important;
  }
}

.modalStyle {
  .modal-content {
    border-radius: 16px;
    background-color: $blackBg;
    border: 2px solid $primaryColor;
    color: $white;
    .modal-header {
      position: relative;
      justify-content: center;
      border-bottom: 0;
      .modal-title {
        color: $secondaryColor;
        font-weight: 600;
      }
      .btn-close {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        right: -10px;
        top: -10px;
        opacity: 1;
        background-color: $primaryColor;
        color: $yellowClr;
        background: $primaryColor
          url(../../../Assets/Images/cross-mark-yellow.svg) center/1em auto
          no-repeat;

        &:focus {
          box-shadow: unset;
        }
      }
    }
    .modal-body {
      padding: 30px;
    }
  }

  //   connect wallet modal

  &.ConctModl_Style {
    .modal-body {
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 15px;
          button {
            font-size: 17px;
            color: $white;
            font-weight: 600;
            border: 1px solid rgba(0, 214, 254, 0.2);
            border-radius: 36px;
            width: 100%;
            padding: 15px 30px;
            background-color: rgba(0, 214, 254, 0.2);
            transition: all 0.3s linear;

            &:hover {
              background-color: $lightBlue;
            }
          }
        }
      }
    }
  }
}
