@import "../../../Assets/Scss/_var.scss";

.playerCard_style {
  &.card {
    background-color: $blackBg;
    height: 100%;
    .playerCard_img {
      position: relative;
      .card-img-top {
        max-height: 190px;
        @media (max-width: 467px) {
          max-height: 150px;
        }
      }
      .playerToken {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 90%;
        img {
          width: 140px;
          height: 140px;
          border-radius: 50%;

          @media (max-width: 467px) {
            width: 100px;
            height: 100px;
          }
        }
        .closeBtn {
          position: absolute;
          top: -5px;
          width: 20px;
          height: 20px;
          right: 0;
          border: 0;
          padding: 0;
          background: transparent;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px 30px;
      @media (max-width: 467px) {
        padding: 15px 30px;
      }
      .tokenInfo {
        list-style: none;
        color: $white;
        padding-left: 0;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          line-height: 24px;
          font-size: 15px;
          font-weight: 500;
          color: $lightGray;
          @media (max-width: 467px) {
            font-size: 13px;
            line-height: 20px;
          }

          span {
            color: $lightBlue;
            font-weight: 600;
            &.positive {
              color: $green;
            }
          }
          &:first-child {
            color: $yellowClr;
            line-height: 32px;
            span {
              color: $white;
            }
          }
          &:first-child {
            font-size: 25px;
            font-weight: 700;
            @media (max-width: 467px) {
              font-size: 18px;
            }
          }
          
        }
      }
      .moreInfo_accordian {
        .accordion-item {
          border-radius: 0 !important;
          background-color: $blackBg;
          border: 2px solid #757575;
          border-right: 0;
          border-left: 0;
          &:first-child {
            border-bottom: 0;
          }

          .accordion-button {
            border: 0;
            background-color: $blackBg;
            color: $yellowClr;
            font-size: 16px;
            font-weight: 600;
            padding: 10px 0;
            display: flex;
            align-items: center;
            @media (max-width: 467px) {
              font-size: 13px;
            }
            &::after {
              background-image: url(../../../Assets/Images/arrow.png);
              width: 20px;
              height: 15px;
              background-size: 100%;
            }
            &:focus {
              box-shadow: unset;
            }
          }
          .accordion-body {
            padding: 14px 0;
            color: $white;
            font-size: 16px;
            font-weight: 400;
            @media (max-width: 467px) {
              font-size: 13px;
              padding: 7px 0;
            }
          }
        }
      }
      .buyNow_btn {
        font-size: 24px;
        color: $primaryColor;
        margin: 20px auto 0;
        padding: 2px 25px;
        background-color: $yellowClr;
        @media (max-width: 467px) {
          font-size: 18px;
        }
      }
    }
  }
}

.eventList {
  padding-left: 17px;
  max-height: 315px;
  .eventinfo {
    color: $yellowClr;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin-bottom: 28px;
    @media (max-width: 467px) {
      font-size: 12px;
      margin-bottom: 20px;
    }

    h3 {
      font-size: 15px;
      margin-bottom: 8px;
      position: relative;
      @media (max-width: 467px) {
        font-size: 13px;
        margin-bottom: 5px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primaryColor;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
      }
      .eventDate {
        color: $primaryColor;
        margin-left: 8px;
      }
    }
    .matchInfo {
      color: $lightGray;
      padding-left: 15px;
      span {
        display: block;
        margin-bottom: 8px;
      }

      .dashIcon {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 2px;
          background-color: $lightGray;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
